<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="test-annotation-context" class="org.springframework.context.annotation.AnnotationConfigApplicationContext" lazy-init="true">
		<constructor-arg name="annotatedClasses">
			<array>
				<value>net.anthavio.spring.test.TestAnnotationConfig</value>
			</array>
		</constructor-arg>
	</bean>

	<bean id="test-xml-context" class="org.springframework.context.support.ClassPathXmlApplicationContext">
		<constructor-arg name="configLocation" value="spring-appcontext.xml"/>
	</bean>
</beans>